html, body {
  background-color: #f2f2f2;
}

.h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.hora {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.estado {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.luz {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #1c1c1c;
}
